.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarTitle{
    margin-bottom: 20px;
}

.userInformation{
  padding: 20px 20px 10px;
  margin-block: 30px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.editInfo{
  display: none;
}

.editInfo.active{
  display: block;
}

.userInfoTopbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfoItem{
  padding-top: 20px;
}

.itemName{
  font-weight: 500;
  margin-right: 10px;
}

.itemText{
  margin-inline: 10px;
  width: 50%;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}

.editIcon{
  margin-right: 10px;
  cursor: pointer;
}

.rightbarTitle{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarInfo{
  margin-bottom: 30px;
  display: inline;
}

.rightbarInfo.active{
  display: none;
}

.rightbarInfoItem{
  margin-bottom: 10px;
}

.rightbarInfoKey{
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValue{
  font-weight: 300;
}

.rightbarFollowings{
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
  padding-block: 5px;
  gap: 20px;
}

.rightbarFollowing{
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingName{
  margin-top: 7px;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  text-transform: capitalize;
}

.rightbarFollowingImg{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
} 

.rightbarFollowButton{
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #1872f2;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.rightbarFollowButton:hover{
  background-color: #0b48a3;
  transition: 0.4s;
}

.rightbarFollowButton:focus{
  outline: none;
}

.followsContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  gap: 30px;
}

.folowsItem{
  padding: 7px 10px;
  background-color: #f0fafe;
  border-radius: 9px;
  font-weight: 500;
  font-size: 17px;
} 